asgiref==3.7.2
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.3.0
crypto==1.4.1
cryptography==41.0.4
Django==4.2.6
idna==3.4
Naked==0.1.32
Pillow==10.1.0
pycparser==2.21
python-decouple==3.8
PyYAML==6.0.1
requests==2.31.0
shellescape==3.8.1
sqlparse==0.4.4
tzdata==2023.3
urllib3==2.0.6
