/* Contenedor del formulario */
.form-container {
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid #1f1e1e;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

/* Título del formulario */
.form-container h2 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
}

/* Párrafos del formulario */
form p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

form .helptext {
    font-size: 14px;
    color: #666;
    text-align: center;
}

.password-help {
    list-style: none;
    padding-left: 0;
    margin-bottom: 10px;
    font-size: 14px;
}

.form-container label {
    color: #555;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-container input[type="email"],
.form-container input[type="text"],
.form-container input[type="password"] {
    color: #333;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 100%;
    font-size: 16px;
}

.btn-primary {
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

/* Mensaje de error */
.form-container p.error-message {
    text-align: center;
    margin-top: 20px;
    color: #d9534f;
    font-weight: bold;
}

/* Enlace a la página de registro */
.form-container a {
    color: #22a7f0;
    text-align: center;
    display: block;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
}

.form-container .center {
    display: flex;
    justify-content: center;
}

.form-container .register-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.form-container .register-text a {
    margin-left: 5px;
}

.form-container .register-text a:hover {
    text-decoration: underline;
}
