{% extends 'base.html' %}
{% load static %}

{% block title %}Inicio de Sesión{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/logs.css' %}">
{% endblock %}

{% block header %}
    <header>
        <div class="header-container">
            <div class="logo">
                <a href="{% url 'home' %}" id="change" class="logo-btn">
                    MiniBizum
                </a>
            </div>
            <nav>
                <a href="#">Mi perfil</a>
                <a href="#">Quienes Somos</a>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">Cerrar Sesión</a>
                {% else %}
                    <a href="{% url 'login' %}">Iniciar Sesión</a>
                {% endif %}
            </nav>
        </div>
    </header>
{% endblock %}

{% block content %}
  <div class="form-container">
    <h2>Inicio de Sesión</h2>
    <form method="post">
        <p>{{ error }}</p>
        {% csrf_token %}
        <div>
            {{ form.as_p }}
        </div>
        <div class="center">
          <button type="submit" class="btn-primary">Iniciar Sesión</button>
      </div>
    </form>
    <p class="register-text">¿No tienes una cuenta? <a href="{% url 'signup' %}">Registrarse</a></p>
  </div>
{% endblock %}