.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 100px;
    width: 100%;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.left-bar, .center-bar, .right-bar {
    padding: 20px;
    box-sizing: border-box;
}

.left-bar, .right-bar {
    flex-basis: calc(20% - 20px);
}

.center-bar {
    flex-basis: calc(60% - 40px);
}

.left-bar {
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    margin-left: 20px;
    padding: 20px;
}

.card {
    border: 1px solid #ddd; 
    padding: 20px;
    border-radius: 10px; 
}

.card-img {
    max-width: 100%; 
    border-radius: 50%; 
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
}

.card-text {
    font-size: 1rem;
    margin-bottom: 10px;
}

.card-title.font-weight-bold {
    font-size: 0.9rem;
    color: #333;
}

.btn-primary {
    margin-top: 10px;
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px; 
    font-weight: bold;
    text-decoration: none;
}

.btn-primary:hover {
    background-color: #23527c; 
}

.center-bar {
    flex-basis: calc(60% - 40px); 
    background-color: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.profile-transactions-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.transaction-card {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f0f4f8;
}

.transaction-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 10px;
}

.transaction-type,
.transaction-message,
.transaction-timestamp {
    padding: 5px;
    text-align: center; /* Centrar horizontalmente el contenido */
}

.transaction-type {
    font-weight: bold;
    color: #333;
}

.transaction-message {
    color: #555;
}

.transaction-timestamp {
    color: #999;
}

.no-transactions-message {
    font-size: 16px;
    color: #999;
}

.right-bar {
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-right: 40px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
    border-radius: 10px;
    padding: 20px;
}

.profile-stats h3,
.profile-balance h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.profile-stats p,
.profile-balance p {
    font-size: 16px;
    color: #555;
    margin: 5px 0;
}

.profile-stats {
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.profile-balance p{
    font-size: 24px;
    font-weight: bold;
    color: #009688;
}

.transaction-body span a {
    text-decoration: none;
    color: #337ab7;
    font-weight: bold;
}