{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiniBizum! | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block styles %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        <!-- Header -->
        {% block header %}
        {% endblock %}

        <!-- Main Content -->
        <main>
            {% block content %}
            <!-- Aquí se reemplazará el contenido específico de cada página -->
            {% endblock %}
        </main>
    </div>
<!-- Footer -->
<footer>  
    <div class="container"></div>
</footer>

</body>
</html>