{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Inicio
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}

{% block header %}
<header>
    <div class="header-container">
        <div class="logo">
            <a href="{% url 'home' %}" id="change" class="logo-btn">
                MiniBizum
            </a>
        </div>
        <nav>
            <a href="#">Mi perfil</a>
            <a href="#">Quienes Somos</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
            {% else %}
                <a href="{% url 'login' %}">Iniciar Sesión</a>
            {% endif %}
        </nav>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container">   
</div>
{% endblock content %}