{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
Inicio
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/main.css' %}">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block header %}
<header>
    <div class="header-container">
        <div class="logo">
            <a href="{% url 'home' %}" id="change" class="logo-btn">
                MiniBizum
            </a>
        </div>
        <nav>
            <a href="{% url 'profile' user %}">Mi perfil</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Cerrar Sesión</a>
            {% else %}
                <a href="{% url 'login' %}">Iniciar Sesión</a>
            {% endif %}
        </nav>
    </div>
</header>
{% endblock %}

{% block content %}
<div class="container">
    <!-- Barra Izquierda -->
    <div class="left-bar">
        <div class="card">
            <img class="card-img" src="{{ request.user.profile.image.url }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@{{ request.user }}</h5>
                <p class="card-text">{{ request.user.profile.bio }}</p>
                <h6 class="card-title font-weight-bold">
                    {{ request.user.profile.followers.count }} Followers
                    {{ request.user.profile.following.count }} Following
                </h6>
                <a href="{% url 'profile' request.user %}" class="profile-btn">Mi perfil</a>
            </div>
        </div>
        <div class="btn-container">
            <a href="{% url 'edit' %}" ><button class="btn-primary">Editar mi perfil</button></a>
        </div>
    </div>

    <!-- Centro -->
    <div class="center-bar">
        <!-- Formulario -->
        <form class="post-form" method="post", enctype="multipart/form-data">
            <p>{{ error }}</p>
            {% csrf_token %}
            <input type="hidden" name="transaction_type" id="transaction_type" value="">
            {{ form.recipient_username }}
            {{ form.transaction_message }}
            {{ form.amount }}
            <div class="btn-container">
                <button class="btn btn-primary" type="button" onclick="setTransactionType('enviar_dinero')">Enviar Dinero</button>
                <button class="btn btn-primary" type="button" onclick="setTransactionType('solicitar_dinero')">Solicitar Dinero</button>
            </div>
        </form>

        <!-- Transactions -->
        <h3 class="transactions-title">Últimas Transacciones</h3>
        {% for transaction in transactions %}
        <div class="transaction-card">
            <div class="transaction-header">
                <img src="{{ transaction.user.profile.image.url}}" alt="User Image" class="user-img">
                <div class="transaction-header-info">
                    <a href="{% url 'profile' transaction.user %}">
                        <span>@{{ transaction.user.username }}</span>
                    </a>
                    <span class="time-ago">{{ transaction.timestamp|naturaltime }}</span>
                    {% if transaction.transaction_type == 'enviar_dinero'%}
                    <p>
                        <a href="{% url 'profile' username=transaction.user.username %}">@{{ transaction.user.username }}</a>
                        envía {{ transaction.amount }}€ a
                        <a href="{% url 'profile' username=transaction.recipient.username %}">@{{ transaction.recipient.username }}</a>
                    </p>
                    {% elif transaction.transaction_type == 'solicitar_dinero'%}
                    <p>
                        <a href="{% url 'profile' username=transaction.user.username %}">@{{ transaction.user.username }}</a>
                        solicita {{ transaction.amount }}€ a
                        <a href="{% url 'profile' username=transaction.recipient.username %}">@{{ transaction.recipient.username }}</a>
                    </p>
                    {% endif %}
                </div>
                <div class="transaction-message">
                    <p>Mensaje: {{ transaction.transaction_message }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

            <!-- Barra Derecha -->
            <div class="right-bar">
                <div class="top-users">
                    <h3>Usuarios a quien seguir:</h3>
                    <ul>
                        {% for user in top_users %}
                            {% if user != request.user and user.is_authenticated %} <!-- Para que solo muestre otros users -->
                                <li>
                                    <a href="{% url 'profile' user %}" class="user-link">
                                        <img src="{{ user.profile.image.url }}" class="user-img"><span class="user-name">{{ user.username }}</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="user-amount">
                    <h3>Este es tu saldo acutal en la aplicación:</h3>
                    <p>{{ user_balance }}€</p>
                </div>
            </div>
        </div>
<script>
    function setTransactionType(type) {
        document.getElementById('transaction_type').value = type;
        document.querySelector('.post-form').submit(); // Envía el formulario automáticamente
    }
</script>
{% endblock content %}