{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MiniBizum! | Inicio</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}">
</head>
<body>
    <div class="wrapper">
        <!-- Header -->
        <header>
            <nav>
                <div class='nav-left'>
                    <img src="{% static '/images/logo.png' %}" alt='Logo' class='logo'>
                    <ul>
                        <li><img src="{% static 'images/notification.png' %}"></li>
                        <li><img src="{% static 'images/inbox.png' %}"></li>
                        <li><img src="{% static 'images/video.png' %}"></li>
                    </ul>
                </div>
                <div class='nav-rigth'></div>
            </nav>
        </header>
        

        <!-- Main Content -->
        <main>
        </main>
    </div>
<!-- Footer -->
<footer>  
    <div class="container"></div>
</footer>
</body>
</html>